@import 'tailwindcss';

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sidebarOptions{
  @apply text-2xl border-b-2 rounded-3xl border-gray-700/35 shadow-2xl shadow-black/45 w-full text-center hover:bg-gray-200 active:bg-gray-400; 
}
