@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container{
  @apply flex flex-col gap-5 md:gap-0 md:grid grid-cols-5 grid-rows-10 max-w-screen h-[100vh];
}

.sidebarOptions{
  @apply text-2xl border-b-2 rounded-3xl border-gray-700/35 shadow-2xl shadow-black/45 w-full text-center hover:bg-gray-200 active:bg-gray-400 cursor-default; 
}

.content{
  @apply md:col-start-2 md:col-span-4 md:row-span-9 md:ml-5 md:w-[80rem] border-15 border-double rounded-3xl border-gray-700/10 shadow-2xl shadow-black/45 p-10 scrollbar-thumb-gray-600 scrollbar-track-gray-400/10 scrollbar-thin overflow-y-scroll;
}

.title{
  @apply text-center text-6xl underline underline-offset-4 mb-5;
}